@model DACS.Models.EF.CheckingCart


<div class="small-container">
    <h2 class="title">
        Products Display
    </h2>
    <div class="row">

          
            @foreach (var item in Model.Items)
            {
                <div class="col-4">



                    <div class="card">
						<img src="@item.ImageUrl" alt="Product Image" style="max-width: 200px;" />
						<h2>@item.Name</h2>
                        <h3>@Html.Raw(item.Detail)</h3>
                        <h3>@Html.Raw(item.AddressAndPrice)</h3>
                        <a asp-controller="Home" asp-action="Display" asp-route-id="@item.ProductId">Details</a>
						<a asp-action="RemoveFromCart" asp-route-productId="@item.ProductId">Remove</a>


                    </div>

                </div>

            }
            

    </div>
</div>