@model DACS.Models.EF.CheckingCart


<style>
    .main_content{
        margin-top: 180px;
    }
</style>

<div class="main_content">
    <h2 class="title">
        Products Display
    </h2>
    <div class="products_iso">
        <div class="row">
            <div class="col">
                <div class="product-grid">
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            @foreach (var item in Model.Items)
                            {
                                <div class="col-6">
                                    <div class="card" style=" height: 420px; margin-bottom: 10px">
                                        <img src="@item.ImageUrl" alt="Product Image" style="height: 218px; width: 218px; position: absolute;top: 50%; left: 50%;transform: translate(-50%, -50%);" />
                                    </div>
                                    <div class="card" style=" height: 100px; margin-bottom: 10px">
                                        <div class="product_info">
                                            <h2>@item.Name</h2>
                                        </div>
                                    </div>
                                    <div class="card" style=" height: 100px; margin-bottom: 10px">
                                        <div class="product_info">
                                            <h2>@Html.Raw(item.AvgRating)/5 <i class="fa fa-star" aria-hidden="true"></i></h2>
                                        </div>
                                    </div>
                                    <div class="card" style=" margin-bottom: 10px">
                                        <h3>@Html.Raw(item.Detail)</h3>
                                        <h3>@Html.Raw(item.AddressAndPrice)</h3>
                                        
                                        <a class="btn btn-primary" asp-controller="Home" asp-action="Display" asp-route-id="@item.ProductId">Details</a>
                                        <a class="btn btn-danger" asp-action="RemoveFromCart" asp-route-productId="@item.ProductId">Remove</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
