@model DACS.Models.EF.Product
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Checker/Views/Shared/_Layout.cshtml";
}

@section naviheader {
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
                    <li class="breadcrumb-item active">Chỉnh sửa</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Nội dung bài viết</h3>
    </div>
    <div class="card-body">
        <div class="bs-stepper-content">
            <form asp-action="Update" method="post" enctype="multipart/form-data">
                @Html.ValidationSummary(false)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Detail" class="control-label">Chi tiết</label>
                    <textarea asp-for="Detail" class="form-control"></textarea></>
                    <span asp-validation-for="Detail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressAndPrice" class="control-label">Địa chỉ và giá bán tham khảo</label>
                    <textarea asp-for="AddressAndPrice" class="form-control"></textarea></>
                    <span asp-validation-for="AddressAndPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label">Chọn ảnh</label>
                    <input type="file" asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsFeature" /> @Html.DisplayNameFor(model => model.IsFeature)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsHot" /> @Html.DisplayNameFor(model => model.IsHot)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="ProductCategoryId" class="control-label">Danh mục</label>
                    <select asp-for="ProductCategoryId" class="form-control" asp-items="ViewBag.ProductCategory"></select>
                </div>
                <div class="form-group">
                    <label asp-for="SeoTitle" class="control-label"></label>
                    <input asp-for="SeoTitle" class="form-control" />
                    <span asp-validation-for="SeoTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SeoDescription" class="control-label"></label>
                    <input asp-for="SeoDescription" class="form-control" />
                    <span asp-validation-for="SeoDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SeoKeywords" class="control-label"></label>
                    <input asp-for="SeoKeywords" class="form-control" />
                    <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-form-label">Create At</label>
                    <div class="col-sm-8">
                        <input a class="form-control-plaintext" readonly value="@ViewData["CreateAt"]" />
                    </div>
                </div>
                <div class="row">
                    <div>
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>|
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- /.card-body -->
    <div class="card-footer">
    </div>
    <!-- /.card-footer-->
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        CKEDITOR.replace("Detail");
    </script>
    <script>
        CKEDITOR.replace("AddressAndPrice");
    </script>
}


