@model X.PagedList.IPagedList<DACS.Models.ApplicationUser>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>




@section naviheader {
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý User</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách User</h3>
            <div class="card-tools">
                <a href="/admin/User/Add" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    @using (Html.BeginForm("index", "Post", FormMethod.Get, new { }))
                    {
                        <div class="input-group input-group-sm">
                            @Html.TextBox("Searchtext")
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                            </span>
                        </div>
                    }
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>FullName</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FullName</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>
                                @*  <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@user.Id">Delete</a> *@
                                <form asp-action="LockAccount" method="post" style="display: inline;">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <input type="submit" value="Lock" />
                                </form>
                                <form asp-action="UnlockAccount" method="post" style="display: inline;">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <input type="submit" value="Unlock" />
                                </form>
                                <a class="forgotPassword" asp-action="ForgotPassword" data-email="@user.Email">Reset Password</a>
                            </td>
                        </tr>
                    }
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["Message"]
                        </div>
                    }

                </tbody>
          

            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
    <div class="row">
        <div class="col-6">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /@Model.PageCount
        </div>
        <div class="col-6">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</section>
<!-- /.content -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('.forgotPassword').click(function (e) {
        e.preventDefault();

        var email = $(this).data('email');

        $.post('/User/ForgotPassword', { email: email })
            .done(function (data) {
                if (data.showAlert) {
                    alert("A password reset email has been sent");
                }
            })
            .fail(function (xhr, status, error) {
                alert("An error occurred: " + status + "\n" + error);
            });
    });
</script>
