@model DACS.Models.EF.Product

@{
	ViewData["Title"] = "Display";
	Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<head>
	<title>Single Product</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Colo Shop Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="~/assets/styles/bootstrap4/bootstrap.min.css">
	<link href="~/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/animate.css">
	<link rel="stylesheet" href="~/assets/plugins/themify-icons/themify-icons.css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="~/assets/styles/single_styles.css">
	<link rel="stylesheet" type="text/css" href="~/assets/styles/single_responsive.css">
</head>
<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/assets/styles/bootstrap4/popper.js"></script>
<script src="~/assets/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/assets/plugins/easing/easing.js"></script>
<script src="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/assets/js/single_custom.js"></script>
<body>

	<div class="super_container">
		<div class="container single_product_container">
			<div class="row">
				<div class="col">

					<!-- Breadcrumbs -->

					<div class="breadcrumbs d-flex flex-row align-items-center">
						<ul>
							<li><a asp-action="Index">Home</a></li>
							<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a></li>
						</ul>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-lg-7">
					<div class="single_product_pics">
						<div class="row">
							<div class="col-lg-3 thumbnails_col order-lg-1 order-2">
							</div>
							<div class="col-lg-9 image_col order-lg-2 order-1">
								<div class="single_product_image">
									@if (!string.IsNullOrEmpty(Model.ImageUrl))
									{
										<img src="@Model.ImageUrl" alt="Product Image" style="max-width: 200px;" />
									}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="product_details">
						<div class="product_details_title">
							<h2>@Model.Name</h2>
						</div>

						<div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
							<form method="post" asp-area="user" asp-controller="CheckingCart" asp-action="AddToCart" >
								<input type="hidden" name="productId" value="@Model.Id" />
								<input type="hidden" name="quantity" value="1" />
								<div class="row">
									<div>
										<button type="submit" class="btn btndanger">Thêm sản phẩm để so sánh</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Tabs -->

		<div class="tabs_section_container">

			<div class="container">
				<div class="row">
					<div class="col">
						<div class="tabs_container">
							<ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
								<li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
								<li class="tab" data-active-tab="tab_2"><span>Reviews</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">

						<!-- Tab Description -->

						<div id="tab_1" class="tab_container active">
							<div class="row">
								<div class="col-lg-5 desc_col">
									@Html.Raw(Model.Detail)
									@Html.Raw(Model.AddressAndPrice)
								</div>
							</div>
						</div>

						<!-- Tab Reviews -->

						<div id="tab_2" class="tab_container">
							<div class="row">

								<!-- User Reviews -->

								<div class="col-lg-6 reviews_col">
									<div class="tab_title reviews_title">
										<h4>Reviews (2)</h4>
									</div>

									<!-- User Review -->

									<div class="user_review_container d-flex flex-column flex-sm-row">
										<div class="user">
											<div class="user_pic"></div>
											<div class="user_rating">
												<ul class="star_rating">
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												</ul>
											</div>
										</div>
										<div class="review">
											<div class="review_date">27 Aug 2016</div>
											<div class="user_name">Brandon William</div>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
									</div>

									<!-- User Review -->

									<div class="user_review_container d-flex flex-column flex-sm-row">
										<div class="user">
											<div class="user_pic"></div>
											<div class="user_rating">
												<ul class="star_rating">
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												</ul>
											</div>
										</div>
										<div class="review">
											<div class="review_date">27 Aug 2016</div>
											<div class="user_name">Brandon William</div>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
									</div>
								</div>
								<div class="user_review_container d-flex flex-column flex-sm-row">
									<div class="user">
									@* 	<div id="comment-list">
											<!-- Comments will be displayed here -->
											@Html.HiddenFor(model => model.Id)
											<partial name="_Comment" data="@Model.Id" model="@Model.ProductComments"  />

										</div> *@
								</div>							
							</div>

								<!-- Add Review -->
								<div class="comment-list" id="comment-list">
									<!-- Danh sách bình luận và đánh giá sẽ được cập nhật ở đây -->
								</div>

								<div class="col-lg-6 add_review_col">

									<div class="add_review">
										<form id="review_form" action="post">
											<div>
												<h1>Add Review</h1>
												<input type="hidden" id="productId" value="@Model.Id" />
												<input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Name*" required="required" data-error="Name is required.">
												<input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required.">
											</div>
											<div>
												<h1>Your Rating:</h1>
												<input type="number" id="Rating" name="rating" placeholder="Rating (1-5)" min="1" max="5" required />
												<ul class="user_star_rating">
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star" aria-hidden="true"></i></li>
													<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												</ul>
												<textarea id="review_message" class="input_review" name="message" placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>
											</div>
											<div class="text-left text-sm-right">
												<button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
											</div>
										</form>
									</div>

								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>


	@section Scripts {
		<script>
			$(document).ready(function () {
				// Function to load comments via AJAX

				function loadComments(productId) {
					console.log(1);
					$.ajax({
						url: "/Comments/GetComments",
						type: "GET",
						data: {
							productId: productId
						},
						success: function (data) {
							$("#comment-list").html(data);
							console.log(2);
						},
						error: function (xhr, status, error) {
							console.log("Error loading comments: " + error); // Log detailed error message
							console.log(xhr.responseText); // Log server response
						}
					});
				}

				var productId = $('#productId').val();
				loadComments(productId);


				$("#review_submit").click(function (e) {
					e.preventDefault();

					var obj = {
						ProductId: $('#productId').val(),
						Name: $('#review_name').val(),
						Email: $('#review_email').val(),
						Content: $('#review_message').val(),
						Rating: $('#Rating').val() // Ensure Rating is included
					};

					$.ajax({
						url: '/Comments/AddComment',
						type: 'POST',
						data: JSON.stringify(obj),
						contentType: 'application/json',
						success: function (response) {
							alert('Comment added successfully');

							location.reload();
						},
						error: function (xhr, status, error) {
							console.error('Error adding comment:', xhr.responseText);
							alert('An error occurred while adding the comment: ' + xhr.responseText);
						}
					});
				});
			});
		</script>
	}

</body>
