@page
@model RegisterModel
@{
    ViewData["Title"] = "Tạo tài khoản";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login/css/style.css">

</head>



<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2>Chào mừng bạn đến với WebSS</h2>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Đăng kí</h3>
                                </div>
                                <div class="w-100">
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p class="social-media d-flex justify-content-end">
                                                @foreach (var provider in Model.ExternalLogins!)
                                                {
                                                    <button type="submit" class="social-icon d-flex align-items-center justify-content-center" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                        <span class="fa fa-google"></span>
                                                    </button>
                                                }
                                            </p>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <label asp-for="Input.FullName">Họ & tên</label>
                                    <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" />
                                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <label asp-for="Input.Email">Email</label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <label asp-for="Input.Password">Mật khẩu</label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <label asp-for="Input.ConfirmPassword">Xác nhận mật khẩu</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                @{
                                    if (User.IsInRole("Admin"))


                                    {
                                        <div class="form-floating">
                                            <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control ">
                                                <option disabled selected>-SelectRole-</option>
                                            </select>
                                        </div>
                                    }
                                }
                                <div class="form-group">
                                    <button id="login-submit" type="submit" class="form-control btn btn-primary submit px-3">Đăng kí</button>
                                </div>
                                @if (TempData["SuccessMessage"] != null)
                                {
                                    <div class="alert alert-success">
                                        @TempData["SuccessMessage"]
                                    </div>
                                }


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/login/js/jquery.min.js"></script>
    <script src="~/login/js/popper.js"></script>
    <script src="~/login/js/bootstrap.min.js"></script>
    <script src="~/login/js/main.js"></script>

</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
