@model DACS.Models.EF.Product
@{
    ViewData["Title"] = "Display";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<div>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Model.ImageUrl" alt="Product Image" style="max-width: 200px;" />
    }
    @Html.Raw(Model.Detail)
    @Html.Raw(Model.AddressAndPrice)
</div>
<a asp-action="Index">Back to List</a>
@if (Model.ProductComments != null)
{
    foreach (var comment in Model.ProductComments)
    {
        <div>
            <p>@comment.Content</p>
            <small>Posted by: @comment.Name on @comment.CreationDate</small>
        </div>
    }
} @* else
{
    foreach (var comment in Model.ProductComments)
    {
        <div>
            <p>@comment.Content</p>
            <small>Posted by: @comment.Name on @comment.CreationDate</small>
        </div>
    }
} *@
@* @foreach (var comment in Model.ProductComments)
{
    <div>
        <p>@comment.Content</p>
        <small>Posted by: @comment.Name on @comment.CreationDate</small>
    </div>
} *@

<!-- Comment Form -->
<form asp-controller="ProductCommentController" asp-action="PostCommentForProduct" asp-route-productId="@Model.Id" method="post">
    <div>
        <label>Name:</label>
        <input type="text" name="Name" />
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="Email" />
    </div>
    <div>
        <label>Comment:</label>
        <textarea name="Content"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>

